<div class="home" id="home">
  <div class="intro-div">
    <div class="intro-text">
      <h1>Hi!👋<br />I am Arun Sankar,<br />an Associate Software Engineer</h1>
      <div class="social-icons">
        <img src="images/gmail.png" alt="Gmail" class="icon" />
        <img src="images/instagram.png" alt="Instagram" class="icon" />
        <img src="images/linkedin.png" alt="LinkedIn" class="icon" />
        <img src="images/github.png" alt="GitHub" class="icon" />
      </div>
    </div>
    <img src="images/dp.jpg" alt="dp" />
  </div>
</div>
<div class="about" id="about">
  <div class="about-pic">
    <h1>About me</h1>
  </div>
  <p>
    I am a passionate and dedicated software engineer with hands-on experience
    in developing robust web applications using the MERN ( MongoDB , Express.js,
    React , Node.js ) stack. Currently I am a SDE Trainee at Experion
    Technologies
  </p>
</div>
<h1>My Projects</h1>
<app-project-card-collection></app-project-card-collection>
<div class="contact" id="contact">
  <div class="contact-details">
    <h1>Contact Me</h1>
    <p>Name</p>
    <input type="text" placeholder="Enter your name here..." />
    <p>Email:</p>
    <input type="email" placeholder="Enter your email here..." />
    <p>Messages:</p>
    <textarea
      id="message"
      placeholder="Enter your message here.."
      name="message"
      rows="7"
      cols="50"
    ></textarea>
    <button value="send">send</button>
  </div>
  <img src="contact.svg" alt="" />
</div>
<div class="footer-line">
  <p>© All rights reserved by Arun Sankar</p>
</div>
