<h1>About Kerala</h1>
<p>
  Kerala, often called "God's Own Country," is a state located on the
  southwestern coast of India, renowned for its lush landscapes, tranquil
  backwaters, and rich cultural heritage. The state boasts a unique combination
  of natural beauty with its palm-lined beaches, verdant hills of the Western
  Ghats, and exotic wildlife. Kerala is also known for its vibrant traditions,
  including Kathakali dance, ancient temples, and elaborate festivals like Onam.
  The state's economy thrives on tourism, agriculture, and a high literacy rate
  that reflects its emphasis on education and progressive social reforms. With a
  diverse culinary palette featuring dishes rich in coconut and spices, Kerala
  stands out as a harmonious blend of scenic charm, historical depth, and
  cultural richness.<br><br> Tropical climate and the rich monsoons offer beautiful
  landscapes, presence of abundant water bodies, long beaches and more than 40
  rivers add to the charm. Popular by the name "God's Own Country", the location
  of Kerala is geographically located between 74 0 7 '47 "and 770 37" 12 "north
  latitudes and 80 17 '30' and 12 0 47 east longitudes. The most popular legend
  on the origin of Kerala says that Kerala rose up from the sea when Lord
  Parasurama threw his axe into the Sea from Gokarna. Lord Parasurama, believed
  to be the sixth avatar of Lord Mahavishnu, threw his axe from Gokarna
  southward across the ocean in rage and in repentance for his actions of
  killing the kshatriyas and the sea receded upto where his axe had fallen and
  brought up a narrow strip of land called Kerala.
</p>

<h1>Districts</h1>
